
<div id="allFooter" class="mt-5">

  <div class="container pt-5" >

    <div class="row justify-content-center">
      <div class="col-4">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-sm-12">
            <a class="btn btn-dark text-center" style="background-color: #000000;margin-bottom: 28px;" href="https://www.youtube.com/watch?v=F1aU-aVQ-Ughttps://www.youtube.com/watch?v=F1aU-aVQ-Ug">
              <i class="fab fa-youtube fa-xl"></i>
            </a>
          </div>
          <div class="col-lg-8 col-sm-12 mt-lg-2">
            <h4 class="text-light">¡Aprende a jugar a rol en solitario!</h4>
          </div>
        </div>

      </div>

      <div class="col-4">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-sm-12">
            <a class="btn btn-dark text-center" style="background-color: #000000;margin-bottom: 28px;" href="#">
              <i class="fab fa-twitter fa-xl"></i>
            </a>
          </div>
          <div class="col-lg-8 col-sm-12 mt-lg-2">
            <h4 class="text-light">Sigue el proyecto en nuestro twitter</h4>
          </div>
        </div>

      </div>
    </div>

    <div class="row justify-content-center py-3">
      <div class="col-12">
        <p class="text-light text-center">@ 2023 Copyright Josep Piles Pérez </p>
      </div>
    </div>

  </div>

</div>

