<div class="container d-flex">
  <div class="row ">

    <div class="col-12">
      <div class="d-flex justify-content-center">
      <h1 class="text-center">¡Bienvenido a la hoguera del rol!</h1>
      </div>
      <div class="d-flex justify-content-center">
        <p class="mx-auto">Esta web app está diseñada para ayudarte a la hora de dirigir partidas de rol de aventuras o jugarlas en solitario.
          Basandose en el texto de Tana Pigueon, Mythic GM Emulator, aquí encontraras un emulador para inspirarte en tus partidas de rol, así como todos los dados que necesitaras para tu partida.
        A continuación tienes una pequeña guía de las secciones que vas a encontrar en la barra de navegación y como te van a ayudar, ¡ahora mismo estás en home!</p>
      </div>

    </div>
    <hr>

  <div class="row ">

    <div class="col-lg-6 col-sm-12 mt-5">
      <h2 class="text-center">Dados</h2>
      <p>Olvídate de tener que cargar de nuevo bolsas llenas de dados.
        En esta sección encontrarás todos los que necesitas en un solo sitio, y calculará por ti los resultados para que tú puedas centrarte en el juego.
        Incluye todos los tipos de dados estándar que se utilizan comúnmente en una partida de rol, más un dado personalizable para esos juegos que gustan de usar dados raros.
        <br>
        <br>
        En la tabla de resultados veras tanto los números que has sacado individualmente en cada dado como su suma total. Podrás por supuesto incluir un bonificador acorde con el dado sumado. Además por si fuera relevante, se hará una suma total de todos los resultados por si el juego te pidiera la suma de múltiples dados, contemplando casi todos los escenarios que puede pedirte un juego de rol.
        <br>
        <br>
        Se acabó buscar números sobre la mesa o de hacer cálculos arcanos. Podrás centrarte en la partida.

      </p>

    </div>
    <div class="col-lg-6 col-sm-12">
      <img class="img-fluid" src="assets/images/home1.jpg" alt="Una oscura figura con un artropodo de montura">
    </div>
  </div>

    <div class="row mt-5">


      <div class="col-lg-6 col-sm-12 mt-5 order-lg-1 order-md-2 order-sm-2">
        <img class="img-fluid ms-md-5 ms-sm-4" src="assets/images/home2.jpg" alt="Un hombre-serpiente portando un adivinador ojo">
      </div>

      <div class="col-lg-6 col-sm-12 order-md-1 order-sm-1 order-lg-2">
        <h2 class="text-center">Oráculos</h2>
        <p>El oráculo está diseñado para emular las respuestas que un director de juego daría en medio de una partida de rol. Te responderá preguntas y te lanzará conceptos inspiradores que te harán crear la partida en tu imaginación.
          Usalo para jugar en solitario o para inspirarte y poder dirigir una partida con poca o ninguna preparación.
          <br>
          <br>
          Si tienes una pregunta cuya respuesta pueda ser un sí o un no (por ejemplo, ¿veo una forma de cruzar al otro lado?), el oráculo de <span class=”fw-bold”>Sí o No</span> te dará la respuesta. Piensa cómo de probable (o improbable) es la respuesta a eso que planteas y elige el factor de caos con el que quieras jugar. El oráculo no solo te responderá a la pregunta, sinó que a más caos las respuestas serán más extremas y ¡aumentarán los eventos aleatorios! Además puede que la pregunta que planteas no tenga sentido.. (No deberías estar buscando una forma de cruzar al otro lado, teniendo en cuenta el ejercito que ahí espera…)
          <br>
          <br>
          Si deseas una descripción de en qué consiste un evento aleatorio o cualquier cosa que pase en la partida, puedes usar el oráculo de <span class=”fw-bold”>Descripción</span>. Este oráculo te permitirá ponerte en contexto, descubrir los temas que rigen tu partida y en general enterarte de qué está pasando en la ficción.
          <br>
          <br>
          Sí más concretamente quieres saber qué objetivo tiene cualquier personaje de la ficción, que está haciendo en ese momento o que quiere que hagan los jugadores, dirígete al oráculo de <span class=”fw-bold”>Acción y su Objetivo</span>. Este te dirá qué intenciones y sobre qué temas o objetivos concretos mueven y actuan los agentes en la ficción de la partida.
        </p>
      </div>


    </div>

    <div class="row mt-5">


      <div class="col-lg-6 col-sm-12">
        <h2 class="text-center">Contacto</h2>
        <p>
          ¿Has encontrado algún bug? ¿Tienes alguna duda sobre cómo se usa alguna de las funcionalidades de esta página? ¿Tienes alguna sugerencia de como expandir el proyecto? Puedes contactar con nosotros rellenando nuestro formulario de contacto.
          <br>
          <br>
          Dinos el nombre con el que nos debemos referir a ti si tratamos de comunicarnos y dejanos un email de contacto. Escribe el asunto por el que has decidido contactar y evaluaremos tu propuesta.
          <br>
          <br>
          Si es menester te contestaremos al correo pidiendo aclaraciones o dándote una respuesta apropiada. Y por favor, <span class=”fw-bold”>¡recuerda ser educado!</span>
          <br>
          <br>
          No podemos garantizar una respuesta pero nos esforzaremos por atender todas las peticiones posibles.
        </p>
      </div>

      <div class="col-lg-6 col-sm-12 mt-5">
        <img class="img-fluid" src="assets/images/home3.jpg" alt="Un sobre abierto con una carta en su interior">
      </div>
    </div>

  </div>

</div>
